<div>Status code 401 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
{
    &quot;error&quot;: {
        &quot;status&quot;: 401,
        &quot;message&quot;: &quot;Invalid access token&quot;
    }
}    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>date: Fri, 08 Dec 2023 09:44:24 GMT</div>
        <div>Transfer-Encoding: chunked</div>
        <div>server: envoy</div>
        <div>Alt-Svc: h3=&quot;:443&quot;; ma=2592000,h3-29=&quot;:443&quot;; ma=2592000</div>
        <div>access-control-allow-headers: Accept, App-Platform, Authorization, Content-Type, Origin, Retry-After, Spotify-App-Version, X-Cloud-Trace-Context, client-token, content-access-token</div>
        <div>content-encoding: gzip</div>
        <div>www-authenticate: Bearer realm=&quot;spotify&quot;, error=&quot;invalid_token&quot;, error_description=&quot;Invalid access token&quot;</div>
        <div>access-control-allow-methods: GET, POST, OPTIONS, PUT, DELETE, PATCH</div>
        <div>strict-transport-security: max-age=31536000</div>
        <div>Via: HTTP/2 edgeproxy, 1.1 google</div>
        <div>access-control-allow-origin: *</div>
        <div>access-control-allow-credentials: true</div>
        <div>access-control-max-age: 604800</div>
        <div>x-content-type-options: nosniff</div>
        <div>content-type: application/json</div>
</div>


