<div>POST to https://api.spotify.com/v1/users/313vvtfujvqzlggpq7tm7gqz2i5a/playlists</div>

<h4>Body</h4>
<div>
    <pre class="preformated-text">
{
    &quot;name&quot;: &quot;new Playlist&quot;,
    &quot;description&quot;: &quot;New playlist description&quot;,
    &quot;public&quot;: false
}    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Authorization: Bearer AQDRCsJMeE-L8T9YGqT-06oMro7kiEfu1i6fgBurQv5hQgdL8h5UqYlFQmgwYl_wnK8DwykLYt13xpFN4h_V8wYfVpZb-Y-h578qVH1WLtFN8vPy29Hda3lPVs9I69jxkAmvHzanhwYfXVq0fowOgfX64vLp46a64Lq40J0ic_kd_MSFLH-8TrOYq5vy6Rc5Qa9pzph7WbbQDzU2jx6rXpdQkNcZQFUjvbMrSY0o3xC2Vqai0-o-FGCmMIn67ZVhuP-arYPCEY8se9tNosYRtbEKmtNc_mfGMNMlwmLzmpnGeeRB5IDp_g</div>
        <div>Accept: */*</div>
        <div>Content-Type: application/json</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X POST &#39;https://api.spotify.com/v1/users/313vvtfujvqzlggpq7tm7gqz2i5a/playlists&#39; -H &#39;Authorization: Bearer AQDRCsJMeE-L8T9YGqT-06oMro7kiEfu1i6fgBurQv5hQgdL8h5UqYlFQmgwYl_wnK8DwykLYt13xpFN4h_V8wYfVpZb-Y-h578qVH1WLtFN8vPy29Hda3lPVs9I69jxkAmvHzanhwYfXVq0fowOgfX64vLp46a64Lq40J0ic_kd_MSFLH-8TrOYq5vy6Rc5Qa9pzph7WbbQDzU2jx6rXpdQkNcZQFUjvbMrSY0o3xC2Vqai0-o-FGCmMIn67ZVhuP-arYPCEY8se9tNosYRtbEKmtNc_mfGMNMlwmLzmpnGeeRB5IDp_g&#39; -H &#39;Accept: */*&#39; -H &#39;Content-Type: application/json&#39; -d &#39;{
    &quot;name&quot;: &quot;new Playlist&quot;,
    &quot;description&quot;: &quot;New playlist description&quot;,
    &quot;public&quot;: false
}&#39;
</div>
