<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.qa.spotify.UserProfileTestCases</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>PlayListTestCase001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PlayListGetTestCase003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>UserProfileTestcase001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PlayListGetTestCase002</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
