<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e495ff">  <td>23/12/07 16:37:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UserProfileTestCases.afterMethod(org.testng.ITestResult)[pri:0, instance:com.qa.spotify.UserProfileTestCases@4686afc2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@648786246</td>   <td></td> </tr>
<tr bgcolor="e495ff">  <td>23/12/07 16:37:23</td>   <td>-1613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserProfileTestCases.PlayListGetTestCase002()[pri:3, instance:com.qa.spotify.UserProfileTestCases@4686afc2]">PlayListGetTestCase002</td> 
  <td>main@648786246</td>   <td></td> </tr>
<tr bgcolor="e495ff">  <td>23/12/07 16:37:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UserProfileTestCases.afterMethod(org.testng.ITestResult)[pri:0, instance:com.qa.spotify.UserProfileTestCases@4686afc2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@648786246</td>   <td></td> </tr>
<tr bgcolor="e495ff">  <td>23/12/07 16:37:22</td>   <td>-2683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserProfileTestCases.PlayListTestCase001()[pri:2, instance:com.qa.spotify.UserProfileTestCases@4686afc2]">PlayListTestCase001</td> 
  <td>main@648786246</td>   <td></td> </tr>
<tr bgcolor="e495ff">  <td>23/12/07 16:37:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UserProfileTestCases.afterMethod(org.testng.ITestResult)[pri:0, instance:com.qa.spotify.UserProfileTestCases@4686afc2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@648786246</td>   <td></td> </tr>
<tr bgcolor="e495ff">  <td>23/12/07 16:37:24</td>   <td>-659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserProfileTestCases.PlayListGetTestCase003()[pri:4, instance:com.qa.spotify.UserProfileTestCases@4686afc2]">PlayListGetTestCase003</td> 
  <td>main@648786246</td>   <td></td> </tr>
<tr bgcolor="e495ff">  <td>23/12/07 16:37:18</td>   <td>-6717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserProfileTestCases.UserProfileTestcase001()[pri:1, instance:com.qa.spotify.UserProfileTestCases@4686afc2]">UserProfileTestcase001</td> 
  <td>main@648786246</td>   <td></td> </tr>
<tr bgcolor="e495ff">  <td>23/12/07 16:37:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UserProfileTestCases.afterMethod(org.testng.ITestResult)[pri:0, instance:com.qa.spotify.UserProfileTestCases@4686afc2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@648786246</td>   <td></td> </tr>
</table>
